.gitignore
lua/
*.DS_Store
docs
copyrect.lua
moai-config.lua
sample-spike
moai-build
rapanui-samples/.DS_Store
rapanui-samples/games/.DS_Store
rapanui-samples/maps/reference.tmx
rapanui-samples/maps/rn-map-spike.lua
moai-build
rapanui.iml
rapanui.ipr
rapanui.iws
runrapanui.sh
testCopyRect.sh
testmap.sh
.idea/
Doxyfile
DoxyfileEXAMPLE
doc/
rapanui-sdk/RNDirector_edit.lua
run.sh
tmp/
mainmoai.lua
moai-samples
runmoai.sh
testproplist.lua
#	testtest.lua
